body {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  #inp {
    width: 400px;
    height: 40px;
    border: 2px solid black;
    font-size: large;
  }
  #dropdown {
    & .dropdown-div {
      width: 400px;
      background-color: whitesmoke;
      border-bottom: 1px solid grey;
      display: flex;
      padding: 10px;
      justify-content: center;
      flex-direction: column;
      height: 20px;
    }
  }
}
