body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
  .outer-div {
    height: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    & #input-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 5px;
      min-height: 40px;
      & .chip {
        display: flex;
        align-items: center;
        background-color: #e5e7eb;
        border-radius: 15px;
        padding: 5px 10px;
        font-size: 14px;
        color: #333;
        & .remove {
          margin-left: 5px;
          cursor: pointer;
        }
      }
      & #inp {
        border: none;
        outline: none;
        flex-grow: 1;
      }
    }
    & #add-btn {
      background-color: rgb(66, 66, 254);
      border: none;
      height: 50px;
      width: 70px;
      font-size: large;
      border-radius: 5px;
    }
  }
}
