body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .form-container{
        display: flex;
        align-items: center;
        justify-content: center;
        .form{
        padding: 20px;
        background-color: pink;
        width: 500px;
        height: 400px;
        & button{
            width: 100px;
        height: 50px;
        background-color: rgb(106, 106, 253);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: large;

        }
        }
        
    }
    .generate-form{
        width: 100px;
        height: 50px;
        background-color: rgb(106, 106, 253);
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}
